<% if @mentor.signed_risk_form? %>
	<div class="complete">
		<h2>Consent Form Signed</h2>
		<p>You signed the consent form on <%= @mentor.risk_form_signed_at.to_s(:date_with_day_of_week) %>.
			<br>
			<%= link_to "Re-read the consent statement", {:action => 'risk_form'} %></p>
	</div>
<%- else -%>
	<div class="incomplete">
		<h2>Consent Form</h2>
		<p>You haven't signed the consent form yet. You must do so before you can participate in <%= Customer.name_label %>.</p>
		<p><%= link_to "Sign your consent form now &#x2192;", {:action => 'risk_form'}, :class => 'button' %></p>
	</div>
<% end -%>
