<h3 class="pre-title"><%= link_to h(@participant.fullname), @participant %></h3>
<h1>College Enrollments</h1>

<table id="college_enrollments">
	<thead>
		<tr>
			<th></th>
			<th>Institution</th>
			<th>Start</th>
			<th>End</th>
			<th>Status</th>
			<th>Class</th>
			<th>Major(s)</th>
			<th colspan=3>Functions</th>
		</tr>
	</thead>

	<tbody>
		<%- if @college_enrollments.empty? -%>
			<tr class="empty">
				<td colspan="10">No college enrollments yet.</td>
			</tr>
		<% end %>

		<%= render enrollments %>
	</tbody>

</table>


<%= link_to 'Add college enrollment', new_participant_college_enrollment_path, class: 'btn btn-default' %>
