<% title("Reset Your Password") %>
<p>To reset your password, enter a new one below. Then enter it a second time to confirm. When you're done, click "Reset My Password."</p>

<%= error_messages_for :user %>
<% form_for :user do |f| -%>

	<dl class="inline-definitions">

		<dt>Password</dt>
		<dd><%= f.password_field :password %>
			<p class="caption">This password can be any combination of letters, numbers, 
			and punctuation, but must be at least 6 characters long.</p></dd>

		<dt>Confirm password</dt>
		<dd><%= f.password_field :password_confirmation %></dd>

	</dl>

<p><%= submit_tag 'Reset My Password' %></p>

<% end -%>