<%- f.inputs :name => "Test Details" do -%>
	<%= f.input :test_type_id, :collection => TestType.all %>
	<%= f.input :registered_at, :hint => link_to_now(:test_score_registered_at) %>
	<%= f.input :taken_at, :label => "Test Date", :hint => link_to_now(:test_score_taken_at) %>
<% end %>

<%- f.inputs :name => "Scores" do -%>
	
	<%- if f.object.try(:test_type) -%>
		<%- for section, maximum_score in f.object.try(:test_type).try(:section_scores_hash) -%>
			<%= f.input "section_score_#{section}",
						:wrapper_html => { :class => "sameline-hint" },
						:hint => "out of #{maximum_score}",
						:label => section.titleize,
						:input_html => { 
							:class => "section_score", 
							:size => 5,
							:onChange => "updateTotalScore('test_score_total_score')" 
						} %>
		<% end %>
	<% end %>
	
	<%= f.input :total_score, 
				:input_html => { :size => 5 }, 
				:wrapper_html => { :class => "sameline-hint" },
				:hint => ("out of #{f.object.test_type.try(:maximum_total_score).to_i}" unless f.object.test_type.try(:maximum_total_score).blank?) %>
<% end %>

<%- javascript_tag do -%>
function updateTotalScore(total_element_id) {
	var elements = $$('.section_score');
	new_total_score = 0;
	for(var i=0; i < elements.length; i++) {
		if(elements[i].value != "") {
			new_total_score += parseInt(elements[i].value);
		}
	}
	$(total_element_id).value = new_total_score;
	return new_total_score;
}
<% end %>