<div style="position:relative">
	<% form_for @participant do |f| %>
	
		<%= model_auto_completer "mentor[fullname]", "", "participant[new_mentor_id]", nil,
								{ 
									:url => auto_complete_for_mentor_fullname_mentors_path, 
									:submit_on_return => true,
									:after_update_element => "function(text_field, selection, hidden_field, id) { text_field.form.submit() }" 
								},
								{ :autocomplete => false, :class => "search wide", :placeholder => "Add another #{Customer.mentor_label}" },
								{ :skip_style => true } %>
	
		<%= f.submit "Add", :disable_with => "Adding..." %>

	<% end -%>
</div>