<h2> Extra Curriculars & Employment </h2>
<table id="Extra Curriculars">
	<thead>
		<tr>
			<th>Activity</th>
			<th>Weekly Hours</th>
			<th>Start Date</th>
			<th>End Date</th>
			
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "parents/parent", :collection => @participant.parents %>
				
		<%- if @participant.parents.empty? -%>
		<tr class="empty">
			<td colspan="10">No extra curriculars yet</td>
		</tr>
		<% end %>
	</tbody>

</table>	
<table id="Employment">
	<thead>
		<tr>
			<th>Job</th>
			<%- if @participant.employment_status == true %>
				<td>Participant employed</td>
			<%- else -%>
				<td> Participant Unemployed </td>
			<%- end -%>
			<th>Weekly Hours</th>
			<th>Start Date</th>
			<th>End Date</th>
			
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "parents/parent", :collection => @participant.parents %>
				
		<%- if @participant.parents.empty? -%>
		<tr class="empty">
			<td colspan="10">No employment yet.</td>
		</tr>
		<% end %>
	</tbody>

</table>	