<table id="college_applications">
	<tr>
		<th colspan=2>Institution</th>
		<th>Choice</th>
		<th>Decision</th>
		<th>Functions</th>
	</tr>

	<%= render :partial => "college_applications/college_application", 
				:collection => @participant.college_applications %>
				
	<%- if @participant.college_applications.empty? -%>
	<tr class="empty">
		<td colspan="10">No colleges yet.</td>
	</tr>
	<% end %>

</table>	
