<table id="college_applications_table">
	<%- cache [@participant.cache_key, "college_applications"].join("/") do -%>
		<thead>
			<tr>
				<th class="sorter-false"></th>
				<th>Institution</th>
				<th>Choice</th>
				<th>Applied?</th>
				<th>Decision</th>
				<th class="functions">Functions</th>
			</tr>
		</thead>

		<tbody>
			<%= render partial: "college_applications/college_application", 
						collection: @participant.college_applications %>
				
			<%- if @participant.college_applications.empty? -%>
			<tr class="empty">
				<td colspan="10">No colleges/plans yet.</td>
			</tr>
			<% end %>
		</tbody>
	<% end %>
	
	<%= render partial: "postsecondary_plan_row", locals: { participant: @participant } %>

</table>
