<table id="college_degrees">
	<thead>
		<tr>
			<th>College</th>
			<th>Date</th>
			<th>Degree</th>
			<th colspan=3>Functions</th>
		</tr>
	</thead>

	<tbody>
		<%= render partial: "college_degrees/college_degree", collection: @participant.college_degrees %>
				
		<%- if @participant.college_degrees.empty? -%>
		<tr class="empty">
			<td colspan="10">No college degrees yet.</td>
		</tr>
		<% end %>
	</tbody>

</table>	


<br />
<%= link_to 'Add college degree', new_participant_college_degree_path(@participant), class: 'add button' %>