‪<table class="events">
	<thead>
		<tr>
			<th>Event</th>
			<th>Date</th>
			<th>Time</th>
			<th class="centered">RSVP</th>
			<th class="centered">Attended</th>
			<th>Functions</th>
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "event_attendances/event_row", :collection => @event_attendances %>
		
		<%- if @event_attendances.empty? -%>
			<tr class="empty">
				<td colspan=10>No events to show.</td>
			</tr>
		<% end -%>
	</tbody>
	
</table>

<h3><%= Customer.visits_Label %> Attendance</h3>

<%- for month in [2,1,0].collect{|i| Date.today.beginning_of_month.months_ago(i) } -%>
<div class="mini calendar calendar-container span4">
	<%= month_calendar start_date: month, td: ->(start_date, current_calendar_date) {
			{ 
				class: "calendar-date", 
				data: { date: raw(current_calendar_date) } 
			} 
		 } do |date| %>	
		<%= date.day %>
	<% end %>
</div>
<% end %>