<%- if @participant.respond_to?(:passes_filter?) -%>
<ul class="filter-results" id="filter_results_container">
				
	<%- for category, object_filters in Participant.object_filters.group_by(&:category) -%>
	<li class="category" data-category="<%= category %>">
		<h3><%= Participant::FILTER_CATEGORIES[category.to_s.to_sym] || "Other" %></h3>

		<ul>				
			<%- for object_filter in object_filters -%>	
				<%= content_tag :li, h(object_filter.title), :class => @participant.filter_status(object_filter) if object_filter.display_for?(@participant) %>
			<% end %>
		</ul>
	</li>
	<% end %>
	
</ul>
<% end %>
