<table id="former_mentors">
	<thead>
		<tr>
			<th>Name</th>
			<th>E-mail</th>
			<th>Assigned Dates</th>
			<th class="functions">Functions</th>
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "mentors/mentor_participant", :collection => @participant.former_mentor_participants %>
	</tbody>
				
</table>	
