<%- html_class ||= h(@report) -%>
<table class="participants multirow active-report <%= html_class %>" id="participants_table">
	<thead>
		<tr>
			<%= render :partial => "participants/reports/#{h(@report || "basic").pluralize}_header" %>
		</tr>
	</thead>
	
	<%= render :partial => 'participant', :collection => @participants, :locals => { :report => h(@report || "basic") } %>
</table>
