<table id="parents">
	<thead>
		<tr>
			<th>Name</th>
			<th>Relationship</th>
			<th>Preferred Contact</th>
			<th class="functions">Functions</th>
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "parents/parent", :collection => @participant.parents %>
				
		<%- if @participant.parents.empty? -%>
		<tr class="empty">
			<td colspan="10">No parents/guardians yet.</td>
		</tr>
		<% end %>
	</tbody>

</table>	
