<%-
reports = Participant::ReportTypes.dup
reports.delete(:college_stages) unless @stages
-%>

<div class="dropdown btn-group report-select">
	<button class="dropdown-toggle btn-default btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Display:
		<span class="title">Basics</span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<% for key, title in reports %>
			<%= content_tag :li, class: "#{'active' if @report.to_s == key.to_s}", role: 'presentation' do %>
				<%= link_to title, url_for(report: key), data: { report: key } %>
			<% end %>
		<% end %>
	</ul>
</div>
