<table id="scholarship_applications">
	<tr>
		<th>Scholarship</th>
		<th class="align-right">Amount</th>
		<th>Awarded?</th>
		<th class="functions">Functions</th>
	</tr>

	<%= render :partial => "scholarship_applications/scholarship_application", 
				:collection => @participant.scholarship_applications %>
				
	<%- if @participant.scholarship_applications.empty? -%>
	<tr class="empty">
		<td colspan="10">No scholarships yet.</td>
	</tr>
	<% end %>

		

</table>	
