<h1>Tell us about yourself</h1>
<p>Thanks for using this system. Lots of different people can use this tool to sign up for events and activities. We need to know if you're a student or a volunteer so that we can tailor the system to you.</p>

<p class="intro">I am a...</p>

<ul class="big choice">
	<li><%= link_to "high-school student", update_identity_path(:identity => "Student"), :method => :post %></li>
	<li><%= link_to "community volunteer", update_identity_path(:identity => "Volunteer"), :method => :post %></li>
</ul>