<h1><%= content_tag :span, "Admin", :class => 'admin tag' if controller.action_name == 'admin' %>
	Users</h1>

<%= will_paginate @users %>

<table class="users">
	<thead>
		<tr>
			<th>Login</th>
			<th>Type</th>
			<th>Person</th>
			<th>Type</th>
			<th>Admin?</th>
			<th class="functions">Functions</th>
		</tr>
	</thead>

	<tbody id="original_users">
		<%= render :partial => "user", :collection => @users %>
	</tbody>
	
	<tbody id="user_search_results"></tbody>
</table>

<%= render :partial => 'sidebar' %>
