<div>
  <ul class="pagination">
    
    <!-- Previous Page -->
    <li>
      <a href="#" aria-label="Previous" class="prev">
        <%= glyph('chevron-left') %>
      </a>
    </li>
    
    <!-- Page Select -->
    <li class="dropdown btn-group">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Jump to a specific page">
        Page
        <span class="page-number">1</span>
      </a>
      
      <ul class="dropdown-menu page-select">
        <li><a href="#">1</a></li>
      </ul>
      
    </li>
    
    <!-- Next Page -->
    <li>
      <a href="#" aria-label="Next" class="next">
        <%= glyph('chevron-right') %>
      </a>
    </li>
    
  </ul>
</div>
