<div class="btn-group navigation-controls hidden" role="group">
  
  <!-- Previous Page -->
  <button type="button" class="btn btn-default prev" title="Previous Page">
    <%= glyph('chevron-left') %>
  </button>

  <!-- Page Select -->
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Jump to a specific page">
      Page
      <span class="page-number">1</span>
    </button>
    <ul class="dropdown-menu page-select">
      <li><a href="#">1</a></li>
    </ul>
  </div>
  
  <!-- Next Page -->
  <button type="button" class="btn btn-default next" title="Next Page">
    <%= glyph('chevron-right') %>
  </button>

</div>
