<div class="signup-meter stat-meter">
	<div class="capacity" style="width: 100%;" title="<%= total rescue "" %>">
		<div class="size" style="width: <%= current rescue 0 %>%">&nbsp;</div>
	</div>
</div>
