<div class="share_links">

	<span class='st_facebook_hcount'></span>
	<span class='st_twitter_hcount'></span>
	<span class='st_linkedin_hcount'></span>
	<!-- <span class='st_pinterest_hcount'></span> -->
	<!-- <span class='st_email'></span> -->
	
</div>