<h3 class="pre-title"><%= link_to h(@participant.fullname), @participant %></h3>
<h1>Colleges</h1>

<%= render partial: "participants/college_applications" %>
<br />

<%= link_to 'Add college', new_participant_college_application_path, class: 'add button' %>
