<h1>Editing request</h1>

<%= semantic_form_for(@clearinghouse_request) do |f| %>
  	<%= default_form_errors(f) %>
	<%= render :partial => "fields", :locals => { :f => f } %>

	<%= default_form_actions(f) %>

<% end %>