<div id="sidebar">

	<h3>Contact Info</h3>
	<p>We may use this information to contact you prior to an event.</p>
	
	<dl class="sidebar">

		<dt>Name</dt>
		<dd><%= @person.fullname %></dd>

		<dt>Email</dt>
		<dd><%= auto_link @person.email %></dd>
		
		<dt>Phone</dt>
		<dd><%= number_to_phone @person.phone_mobile %></dd>

	</dl>
	
</div>