<div class="content-block">
	<h1 class="events">My Events</h1>
	<p>You've signed up for the following upcoming events:</p>
	
	<table class="highlightless rsvp">
		<%= render :partial => 'rsvp/event', :collection => @events %>
		
		<%- if @events.empty? -%>
		<tr class="empty">
			<td colspan=10>You haven't registered for any upcoming events.</td>
		</tr>
		<% end -%>
		
	</table>
</div>

<%= render :partial => "other_sidebar" %>