<h1 class="participation">My Participation</h1>
	<p>This section shows you the terms in which you've participated in <%= Customer.name_label %>.
		If you want to change your high-school group for the current term, you can click the link on the right.</p>
	
	<%= render template: 'mentors/participation.html.erb' %>
</div>
