<h1>Events</h1>

<%= will_paginate @events %>

<table>
	<tr>
		<th>Name</th>
		<th>Date</th>
		<th>Invited</th>
		<th>RSVP'd</th>
		<th>Attended</th>
		<th colspan=4>Functions</th>
	</tr>

	<%= render partial: 'event', collection: @events %>
</table>

<%= content_for(:sidebar) do %>
	<%= link_to 'Create new event', new_event_path, class: 'add button' %>
<%- end -%>
