<td class="date"><span><%= event_mini.time_detail(:date_only => true) %></span></td>
<td class="time"><%= event_mini.time_tba? ? content_tag(:span, "Time TBA", :class => 'outline tag') : event_mini.time_detail(:time_only => true) %></td>
<td class="details-link"><%= link_to "Event Details", event_rsvp_path(event_mini), :class => 'info button' %></td>
