
<%- if event.allow_rsvps? && event.date.to_time >= Time.now.midnight -%>
	<% params = "'&event_attendance[event_shift_id]=' + $F('event_attendance_event_shift_id_#{event.id}')" %>
  <% params << "+'&event_attendance[audience]=#{sanitize(audience)}'" unless audience.nil? -%>
	<%- if @current_user && @current_user.person.attending?(event) -%>
		<%= link_to_remote "Cancel <span class='hide_when_small'>my RSVP</span>",
			 			:url => rsvp_path(event, :rsvp => false),
						:method => :delete,
						:with => params,
						:html => { :class => 'cancel button', :id => "cancel_button_#{event.id}" } %>
		<%= link_to_remote "Update <span class='hide_when_small'>my RSVP</span>",
			 			:url => rsvp_path(event),
						:with => params,
						:method => :post,
						:html => { :class => 'submit button', :id => "save_button_#{event.id}", :style => "display:none" } %>
	<%- elsif !event.full?(@current_user.try(:person)) -%>
		<%= link_to_remote "RSVP <span class='hide_when_small'>for this event</span>",
		 				:url => rsvp_path(event, :rsvp => true),
						:with => params,
						:method => :put,
						:html => { :class => 'add button' } %>
	<% end -%>

<% end -%>
