<h1>Editing customer</h1>

<%= semantic_form_for @customer, :html => { :method => :put } do |f| %>

	<%= default_form_errors(f) %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= default_form_actions(f) %>

<% end %>
