<h1>New customer</h1>

<p class="warning"><strong>Important:</strong> Be sure to create the tenant database before creating a new Customer record.</p>

<%= semantic_form_for @customer do |f| %>

	<%= default_form_errors(f) %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= default_form_actions(f) %>

<% end %>
