<tr>
	<td><%= link_to h(mentor.fullname), mentor %></td>
	<td><%=h mentor.uw_net_id %></td>
	<td></td>
	<td><%= link_to 'Show', mentor %>
		| <%= link_to 'Edit', edit_mentor_path(mentor) %>
	</td>
</tr>
