<tr>
	<td><%= link_to highlight(h(mentor.fullname(:skip_update => true)), (params[:mentor][:fullname] rescue nil)), mentor %></td>
	<td><%=h mentor.uw_net_id %></td>
	<td></td>
	<td class="functions">
		<%= link_to 'Show', mentor %>
		<%= link_to 'Edit', edit_mentor_path(mentor) %>
	</td>
</tr>