<table class="participants multirow active-report" id="participants_table">
	<thead>
		<tr>
			<th><input type="checkbox" class="select-all"></th>
			<%= render :partial => "participants/reports/#{h(@report || "basic").pluralize}_header" %>
		</tr>
	</thead>
	
	<tfoot id="empty_placeholder" style="display:none">
		<tr class="empty">
			<td colspan=20>You don't currently have any <%= Customer.mentees_label %> assigned to you.</td>
		</tr>
	</tfoot>
</table>

<%= javascript_tag "$( function() {
	 $.ajax({ url: '#{mentor_participants_path(@mentor, :report => 'basics', :page => 1)}', dataType: 'script' });
})" %>
