<table class="participants" id="participants_table">
	<thead>
		<tr>
			<th><input type="checkbox" onClick="$$('input.index_check_box').each(function(e) { e.checked = this.checked }, this)"></th>
			<th>Name</th>
			<th>Email</th>
			<th>Cohort</th>
			<th>Colleges</th>
			<th>Scholarships</th>
			<th colspan=3></th>
		</tr>
	</thead>

	<tbody>
		<tr class="empty"><td class="loading" colspan=10></td></tr>
	
		<%- if (@my_mentees || @participants).empty? -%>
			<tr class="empty">
				<td colspan=10>You don't currently have any <%= Customer.mentees_label %> assigned to you.</td>
			</tr>
		<% end -%>
	</tbody>
	
	<%= javascript_tag "document.observe('dom:loaded', function() { #{remote_function(:url => mentor_participants_url(@mentor, :report => 'basics'), :method => :get) } });" %>
	
</table>


