<table class="participants multirow active-report" id="participants_table">
	<thead></thead>
	
	<tfoot id="empty_placeholder" style="display:none">
		<tr class="empty">
			<td colspan=20>You don't currently have any <%= Customer.mentees_label %> assigned to you.</td>
		</tr>
	</tfoot>
</table>

<%= javascript_tag "$( function() {
	 $.ajax({ url: '#{mentor_participants_path(@mentor, report: 'basics', page: 1)}', dataType: 'script' });
})" %>
