<div id="sidebar">
	<p><%= link_to "Download in Excel", { :format => :xls }, :class => 'button xls' %></p>
	
	<% form_for :mentor, :html => { :onSubmit => "return false;" } do |f| %>
		<h4>Search for a mentor:</h4>
		<input id="mentor_fullname" name="mentor[fullname]" size="30" type="search" results="5" autosave="mentor_fullname_search" placeholder="Search" />
		<div class="auto_complete" id="mentor_fullname_auto_complete"></div>
		
		<%= javascript_tag "var mentor_fullname_auto_completer = new Ajax.Autocompleter('mentor_fullname', 'mentor_fullname_auto_complete', '#{auto_complete_for_mentor_fullname_mentors_path}', { minChars: 3 })" %>
			
		<%= observe_field('mentor_fullname', 
			:frequency => 0.25,
			:function => "if($F('mentor_fullname')=='') { $('original_mentors').show(); $$('.pagination').invoke('show'); $('mentor_search_results').update(); return true; }") %>

	<% end %>
</div>