<%= javascript_include_tag 'driver_form.js' %>

<h1>Current Trained Drivers</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>E-mail</th>
			<th>Training Date</th>
            <th class="centered">Signed Form?</th>
            <th class="centered">Convictions?</th>
			<th colspan=4>Functions</th>
		</tr>
	</thead>

	<tbody>
		<%= render :partial => "mentor_driver", :collection => @mentors %>
		<%- if @mentors.empty? -%>
			<tr class="empty">
				<td colspan=10>No <%= Customer.mentors_label %> are currently trained to drive.</td>
			</tr>
		<% end -%>
	</tbody>
</table>

<div id="sidebar">
  <h3>Update Driver Status</h3>
  <div id="form-container">Click a row to begin editing</div>
</div>