<% if params[:group] -%>
    "<%= j("<tr class='rowspan-header'><th colspan='10'>#{h @group_title}</th></tr>".html_safe +
        (if !@mentors.empty?
          (render :partial => "mentor_driver", :collection => @mentors)
        else
          "<tr class=\"empty\"><td colspan=10>No #{h Customer.mentors_label} are currently trained to drive.</td></tr>".html_safe
        end)) %>"
<%- else -%>
    $("#current_drivers").html("<%=j render "van_driver_table" %>")
<%- end %>
