<h3 class="pre-title"><%= link_to h(@participant.fullname), @participant %></h3>
<h1>Scholarships</h1>

<%= render partial: "participants/scholarship_applications" %>
<br />

<%= link_to 'Add scholarship', new_participant_scholarship_application_path, class: 'add button' %>
