<p>
  <b>Scholarship:</b>
  <%= @scholarship_application.title %>
</p>


<%= link_to 'Edit', edit_participant_scholarship_application_path(@participant, @scholarship_application) %> |
<%= link_to 'Back', participant_scholarship_applications_path %>
