<h3 class="pre-title"><%= link_to h(@participant.fullname), @participant %></h3>
<h1>Parents/Guardians &amp; Contacts</h1>

<%= render :partial => "participants/parents" %>
<br />

<%= link_to 'Add parent/guardian', new_participant_parent_path, :class => 'add button' %>
