<p>
	<%= content_tag :span, "Enrolled", class: "label label-success" unless mentor_term.volunteer? %>
	<%= content_tag :span, h(mentor_term.mentor_term_group.try(:course_string)), class: 'label label-info' %>
	<%= link_to mentor_term.mentor_term_group.try(:title), mentor_term.mentor_term_group if @current_user.try(:admin?) %>
	<%= content_tag :div, mentor_term.mentor_term_group.try(:times), class: 'text-muted' unless mentor_term.mentor_term_group.try(:times).blank? %>
</p>
