<tr>
	<td class="status_tag">
		<%- if mentor_term.volunteer? -%>
			<!-- <span class="orange tag">Volunteer</span> -->
		<%- else -%>
			<span class="green tag">Enrolled</span>
		<% end -%>
	</td>
	
	<td class="section_id"><%= content_tag :span, 
			mentor_term.mentor_term_group.try(:section_id), 
			:class => 'section_id tag' %></td>
			
	<td class="mentor_term_group_title">
		<%= link_to_if @current_user.try(:admin?), mentor_term.mentor_term_group.try(:title), mentor_term.mentor_term_group %>
		<%= content_tag :div, mentor_term.mentor_term_group.try(:times), :class => 'light' unless mentor_term.mentor_term_group.try(:times).blank? %>
		</td>
</tr>