/* @group Menus */

#menu_expander_link {
	display: none;
}

#main-nav {
	height: 0;
	font-size: 100%;
	position: relative;
	z-index: 100;
	left: 200px;
	top: -48px;
	display: block;
	float: left;
	clear: both;
}

#main-nav .admin {
  display: none;
}

body.admin #main-nav .admin {
  display: inherit;
}

/* style the links for the top level */

.menu a, .menu a:visited {
	display: block;
	font: 90% "Oxygen", sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #e5e5e5;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 20px;
	-webkit-transition: background 0.25s ease-in-out;
	text-transform: uppercase;
}


/*style the top level hover*/ 
.menu a:hover, .menu ul ul a:hover, .menu :hover > a, .menu ul ul :hover > a {
	color: #fc0;
	/*background: rgb(227,222,205);*/
	border-radius: 2px;
	text-shadow: none;
	/*box-shadow: 0 3px 4px rgba(255,255,255,0.2) inset;*/
	z-index: 25;
}


.menu ul ul :hover > a {
	box-shadow: none;
}

.menu ul li {
	-webkit-transition: background 0.25s ease-in-out;
	background-position: 40% 10px;	
}

.menu ul li:hover {
	/*background: url(../images/mainNav_notch.gif) no-repeat 40% 18px;*/
	z-index: 21;
	opacity: 0.98;
}

.menu ul ul li:hover {
	background: none;
}

 /*style the second level links*/ 

.menu ul ul a, .menu ul ul a:visited {
	color: rgb(95,95,95);
	font-weight: normal;
	height: auto;
	line-height: 1em;
	padding: 8px 10px;
	padding-left: 25px;
	width: 100%;
	border-bottom: 1px dotted #dadada;
	border-left: none;
	text-shadow: none;
	text-transform: none;
	font-family: inherit;
	font-size: 100%;
}

.menu ul ul li.primary a {
	font-weight: bold !important;
}

.menu ul ul li.list a {	background-image: url(../images/icons/silk/text_list_bullets.png); }
.menu ul ul li.report a {	background-image: url(../images/icons/silk/chart_pie.png); }
.menu ul ul li.add a { background-image: url(../images/icons/silk/add.png); }
.menu ul ul li.nsc a { background-image: url(../images/icons/nsc-favicon.png); }
.menu ul ul li.scholarships a { background-image: url(../images/icons/silk/money.png); }
.menu ul ul li.colleges a { background-image: url(../images/icons/silk/building.png); }
.menu ul ul li.locations a { background-image: url(../images/icons/silk/building.png); }
.menu ul ul li.groups a { background-image: url(../images/icons/silk/group.png); }
.menu ul ul li.calendar a { background-image: url(../images/icons/silk/calendar.png); }
.menu ul ul li.programs a { background-image: url(../images/icons/silk/bricks.png); }
.menu ul ul li.filters a { background-image: url(../images/icons/silk/timeline_marker.png); }
.menu ul ul li.terms a { background-image: url(../images/icons/silk/date.png); }
.menu ul ul li.tests a, .menu ul ul li.edit a { background-image: url(../images/icons/silk/page_edit.png); }
.menu ul ul li.trainings a { background-image: url(../images/icons/silk/book_open.png); }
.menu ul ul li.users a { background-image: url(../images/icons/silk/shield.png); }
.menu ul ul li.trash a { background-image: url(../images/icons/silk/bin_closed.png); }
.menu ul ul li.settings a { background-image: url(../images/icons/silk/information.png); }

.menu ul li li.participant a, .menu ul li li.participant a:hover {
  background: none;
}

.menu ul li li.participant div.avatar {
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 105%;
  position: absolute;
  margin: 0;
  top: 7px;
}

.menu ul ul li.divider {
  border-bottom: 1px dotted rgba(53,94,170, 0.75);
}

.menu ul ul li h3 {
  margin-bottom: 5px;
}

.menu ul ul li a {
	background-position: left center;
	background-repeat: no-repeat;
}

.menu ul ul li a:hover {
	background: url(../images/bullets/gold_arrow_small.gif) no-repeat 5px center;
	border: none;
	border-bottom: 1px dotted #dadada;
	color: rgb(53,94,170);
}

.menu ul ul {
	background: white;
	padding: 10px;
	margin-left: -10px;
	display: block;
	z-index: 10;
	/*border: 1px solid #999;*/
	border-radius: 5px;
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	float: left;
	margin-top: 16px;
	position: relative;
	/*background: #88b7d5;*/
	/*border: 4px solid #c2e1f5;*/
}

.menu ul ul:after, .menu ul ul:before {
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.menu ul ul:after {
/*	border-color: rgba(136, 183, 213, 0);*/
	border-bottom-color: white;
	border-width: 10px;
	margin-left: -10px;
}
.menu ul ul:before {
	/*border-color: rgba(194, 225, 245, 0);*/
	/*border-bottom-color: #c2e1f5;
	border-width: 16px;
	margin-left: -16px;*/
}


.menu ul li div {
	visibility: hidden;
	position: absolute;
	top: 20px;
	left: 0;
	width: 250px;
}

.menu ul li div.double-wide, body.admin .menu ul li div.double-wide-if-admin {
	width: 350px;
}

/* make the second level visible when hover on first level list OR link */

.menu ul li:hover div,
.menu ul a:hover div {
	visibility: visible;
}

/* remove all the bullets, borders and padding from the default list styling */

.menu ul {
	padding: 0;
	padding-left: 0px;
	margin: 5px;
	list-style-type: none;
	margin-left: 20px;
	margin-top: 7px;
}

.menu ul ul {
	
}

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */

.menu li {
	float: left;
	position: relative;
	padding-right: 15px;
	height: 30px;
}

.menu ul ul li {
	width: 90%;
	height: auto;
}

/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/final_drop.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */



/* @end */

