/* @group iPhone */

@media screen and (max-width: 640px) {

#content, #sidebar, #header, #sidebar-header, #main-nav, #main-nav ul, #menu_expander_link {
	-webkit-transition: all 0.3s ease-in-out;
}

#sidebar, .admin #sidebar {
	position: fixed;
	top: 0;
	right: -240px;
	width: 200px;
	height: 95%;
	background: rgba(0,0,0,0.1);
	border-left: 1px solid #999;
}

.sidebar_view #sidebar {
	right: 0;
}

#content, .admin #content {
	margin: 0;
	overflow: hidden;
	top: 50px;
	padding: 0;
	padding-top: 1em;
}

#footer {
	margin: 1em;
}

#sidebar-header, .admin #sidebar-header {
	display: block;
	position: fixed;
	width: auto;
	height: auto;
	top: 15px;
	right: -5px;
	background: #999;
	z-index: 100;
	opacity: 1;
}

#sidebar-header a {
	padding: 0 5px;
	padding-right: 12px;
	text-decoration: none;
	font: 190% "Courier New", Courier, mono;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	text-shadow: 1px 0 1px rgba(0, 0, 0, 0.75);
	color: #f5f5f5;
}

#sidebar-header a:after {
	content: '\00ab';
}

.sidebar_view #sidebar-header a:after {
	content: '\00bb';
}


#sidebar-header a span {
	display: none;
}

#sidebar_expander_link {
	display: block;
	padding: 5px 8px 6px;
	border-radius: 4px;
	z-index: 10;
	background-image: linear-gradient(to bottom, #f4f4f4, #f8f8f8);
	position: fixed;
	top: 15px;
	right: -4px;
}

.sidebar_view #sidebar_expander_link {
	
}

.sidebar_view #login_logout img.avatar {
	opacity: 0;
}

.menu_view #sidebar-header {
	right: -30px;
}

#login_logout {
	font-size: 100%;
	position: static;
	display: inline-block;
}

.admin #login_logout {
	/*margin-left: 60px;*/
}

#login_logout ul {

}

#login_logout img.avatar {
	float: none;
	margin-left: 1em;
	position: absolute;
	top: 14px;
	right: 35px;
	border: 1px solid #919191;
	border-radius: 2px;
	-webkit-transition: all 0.25s ease-in-out;
}

#header h1 {
	background-size: 65%;
	margin-top: 0;
	margin-bottom: 10px;
}

#header h1 a {
	display: block;
	top: 10px;
	left: 10px;
	height: 30px;
	width: 200px;
	margin-bottom: 2px;
}

#header {
	width: 95%;
	padding-bottom: 5px;
	z-index: 2;
  margin-right: 0;
}

body.new.session #content {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	min-width: inherit;
}

body.new.session #content-wrap {
	margin: 0;
	padding: 1em;
	border-radius: 0;
	border: none;
	background-position: 0 -20px;
}

body.new.session h1 {
	margin-bottom: 0;
}

body.new.session h1:before {
	display: none;
}

.login-links {
	border: none;
	text-align: center;
	padding: 0;
	margin-bottom: 2em;
}

a.login-link {
	margin: 0 0.75em;
}


body.error #content {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	min-width: inherit;
}

body.error #content-wrap {
	margin: 0;
	padding: 1em;
	border-radius: 0;
	border: none;
	background-position: 0 -20px;
}

body.error h1 {
	margin-bottom: 0;
}



#notification {
	margin: 0;
	border-radius: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
}

#notifications {
	width: 70%;
	left: 5%;
	margin-left: 0;
}


#main-nav {
	margin: 0;
	z-index: 1;
	position: absolute;
	height: auto;
	overflow: hidden;
	width: 100%;
	top: -500px;
}

#main-nav ul {
	/*position: absolute;
	height: 200px;
	width: 100%;
	top: 0;
	left: -500px;
	background: rgb(125,125,127);
	z-index: -1;*/
}

.menu_view #main-nav {
	left: 0;
	top: 78px;
}

.menu li {
	float: none;
	position: relative;
	padding: 0;
	height: auto;
}

.menu li a {
	display: block;
}

.menu a, .menu a:visited {
	border-left: none;
	border-bottom: 1px solid #999;
	padding: 5px 10px;
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu ul ul a, .menu ul ul a:visited {
	color: whitesmoke;
	padding: 7px 10px;
	padding-left: 2em;
	width: 100%;
	border-bottom: 1px solid #999;
}

.menu ul ul a:hover {
	background: none;
	color: whitesmoke;
}


.menu ul ul {
	float: none;
	display: block;
	background: none;
	-webkit-box-shadow: none;
	border: none;
	padding: 0;
	margin: 0;

}

.menu ul li div {
	visibility: visible;
	position: relative;
	top: auto;
	left: auto;
	display: block;
	float: none;
	height: 0;
	opacity: 0;
	-webkit-transition: all 0.25s ease-in-out;
	width: 100%;
}


.menu ul li:hover div,
.menu ul a:hover div {
	visibility: visible;
	height: auto;
	opacity: 1;
}

.menu ul ul li {
	width: 90%;
	height: auto;
	background: none;
}

#header ul.menu li {
	display: block;
	float: none;
}

#menu_expander_link {
	display: inline-block;
	position: relative;
	padding: 5px 8px 6px;
	border-radius: 4px;
	z-index: 2;
	background-image: linear-gradient(to bottom, #f4f4f4, #f8f8f8);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-transition: all 0.5s ease-in;
}

#menu_expander_link .icon-bar {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	display: block;
	width: 18px;
	height: 2px;
	border-radius: 1px;
	margin: 2px;
	-webkit-transition: all 0.25s ease-in;
}

.menu_view #menu_expander_link {
	background-image: linear-gradient(to bottom, #f8f8f8, #999);
}

.menu_view #menu_expander_link .icon-bar {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.8);
}

.sidebar_view #content {
	margin-left: -240px;
	margin-right: 240px;
}

.sidebar_view #header {
	left: -240px;
	margin-left: -240px;
}

.sidebar_view #sidebar-header {
	right: 240px;
}

.sidebar_view #menu_expander_link {
	left: -200px;
}

.content-block {
	overflow: auto;
	padding: 20px 10px;
	margin: 10px;
}

#content-wrap {
	padding: 15px 10px 15px 10px;
	margin: 0;
	overflow: auto;
}

select {
	max-width: 240px;
}

table {
	max-width: 100%;
}

table.mentors td {
	
}

.hoverable .show_on_hover {
	visibility: visible;
	opacity: 1;
}

.mentors td a.add.notes {
	position: relative;
}

.panel-block {
	display: block;
	float: none;
	clear: both;
	margin-bottom: 2em;
}

.mentor_stats {
	margin: 0;
}

#column1 {
	float: none;
	width: auto;
}

#column2 {
	float: none;
	margin-left: 0;
	min-height: 400px;
	padding: 1em 0;
}

#column1 > .edit.button {
	float: right;
}

fieldset {
	padding-left: 0;
	padding-right: 0;
}

ul.big.choice li {
	margin: 2em;
	display: block;
	width: 90%;
	vertical-align: top;
}

ul.big.choice a {
	font-size: 200%;
	padding: 1em;
}

table.participants, table.participants tr, table.participants td,
table.participants tbody {
	display: block;
}

table.participants thead {
	display: none;
}

table.participants td {
	display: block;
	/*float: left;*/
	border: none;
	padding: 2px 0;
	/*padding-right: 8em;*/
}

table.participants td.name {
	clear: left;
	margin-top: 0.5em;
	font-size: 120%;
}

table.participants td.email {
	display: none;
}

table.participants td.high-school {
	clear: left;
}

table.participants td.college-application-count, table.participants td.scholarship-application-count {
	font-size: 85%;
	color: #999;
	display: inline-block;
	margin-bottom: 0.5em;
	padding: 0;
}

table.participants td.college-application-count {
}

table.participants td.college-application-count:after {
	content: " colleges, ";
}

table.participants td.scholarship-application-count:after {
	content: " scholarships";
}

table.participants td.functions {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
}

table.participants tr {
	border-bottom: 1px solid #eee;
}

table.quarter_status > tbody > tr > td {
	clear: left;
	display: block;
	border-bottom: none;
}

table.quarter_status td.quarter_title {
	display: block;
	border-bottom: 1px solid #eee;
}

table.quarter_status a.edit.button {
	margin-left: 2em;
	margin-bottom: 0.5em;
}

table.mentor_quarter_group.signup td {
	padding-bottom: 3em;
}

table.mentor_quarter_group.signup td.signup-link {
	display: block;
	position: absolute;
	left: 5em;
	/*float: left;*/
	border: none;
	margin-top: 3em;
}

h2 {
	background: rgba(0,0,0,0.1);
	border-bottom: 1px solid #999;
	margin: 10px -10px;
	padding: 3px 10px;
}

dl.inline-definitions dt {
	float: none;
	margin: 0;
	
}

dl.inline-definitions dd {
	padding: 0;
	
}

.hide_when_small {
	display: none;
}

table.rsvp, table.rsvp td, table.rsvp tr {
	display: block;
}

table.rsvp tr {
	margin-top: 1em;
	border-bottom: 1px solid #dadada;
	margin: 0;
}

table.rsvp {
	width: inherit;
}

table.rsvp td {
	padding: 1em;
	border: 0 !important;
	background: none !important;
	padding: 1em 0 !important;
	margin: 0;

}

table.rsvp p {
	margin: 0.25em 0;
}

table.rsvp h2 {
	margin: 3px 0;
	background: none;
	border: none;
	padding: 0;
}

table.rsvp tr td:first-child {
	display: none;
}

table.rsvp tr td.event-capacity {
	display: inline;
}

table.rsvp td.event-functions {
	padding-top: 0;
	padding-bottom: 0;
	padding: 0 !important;
}

table.rsvp td.event-functions:after {
	content: ".";
	clear: both;
	opacity: 0;
	padding: 0;
	margin: 0;
	display: block;
	
}

table.rsvp td.event-functions .button {
	float: right;
}

table.rsvp td.event-functions .rsvp_status {
	float: left;
	padding-top: 7px;
	padding-bottom: 7px;
	background-position: 0 9px;
}


/*table.rsvp td.map {
	padding-right: 0.5em;
	width: 50px;
	padding-left: 0 !important;
}*/

/*table.rsvp td.map img {
	border: 1px solid #dadada;
	border-radius: 5px;
	width: 50px;
}*/




body.rsvp .when-and-where {
	float: none;
	width: auto;
	margin: auto;
}

form.formtastic {
	max-width: 100%;
	overflow: hidden;
/*	border: 1px solid red;*/
}

form.formtastic fieldset {
	max-width: 99% !important;
/*	border: 1px solid blue;*/
	padding: 0 !important;
	margin: 0 !important;
}

form.formtastic fieldset fieldset.inline legend {
	display: block;
	float: none;
}

form.formtastic fieldset fieldset.inline > ol {
	margin-left: 0;
}

form.formtastic label {
	display: block !important;
	float: none !important;
/*	border: 1px solid green;*/
	padding-left: 4px;
	width: 90% !important;
	margin-bottom: 3px;
}

form.formtastic .inline-hints {
	margin-left: 0 !important;
	max-width: 100%;
}

form.formtastic input {
	margin: 0;
}

form.formtastic fieldset > ol > li fieldset legend.label label {
	position: absolute; 
	color: #656565 !important;
	display: block !important;
	float: none !important;
	height: 2em !important;
}

form.formtastic fieldset > ol > li fieldset legend.label {
	display: block;
	height: 2em;
	position: relative;
}

form.formtastic fieldset > ol > li fieldset ol { 
	color: green !important;
	float: none !important; 
	width: 100%; 
	margin:0; 
	padding:0 0 0 0 !important; 
	display: block !important;
	position: relative;
}

#dev-inspector-container {
	display: none;
}

ul.filter-results {
	columns: 1;
	-webkit-columns: 1;
}


}

/* @end */

