.formtastic .stringish input {
  width: 72%;
}

.formtastic .input .label {
  width: 22%;
}

.formtastic .input .input .label {
  width: 100%;
}

.formtastic .number input {
  width: 5em;
}

input[type=file] {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}