<%- event_attendance ||= checkbox -%>

<td id="<%= "td_#{event_attendance.person_id}_#{event_attendance.event_id}_attended" %>" class="centered functions">
	<%- 
	if event_attendance.attended?
		attended = false
		link_label = "Remove"
	else
		attended = true
		link_label = "Check-in"
	end
	 -%>
	
	<%= link_to link_label, event_event_attendances_path(
				event_attendance.event, 
				:attendee => { 
					:person_id => event_attendance.person_id, 
					:attended => attended 
				}),
			{ 
				:remote => true,
				:method => :post 
			} %>
</td>


