<div id="sidebar">
	<p>
		<%= link_to 'Check-in Mentors/Volunteers', checkin_event_event_attendances_path(@event, :audience => "Mentor"), :class => 'sync button' unless @audience.to_s == "Mentor" %>
		<%= link_to 'Check-in Students/Participants', checkin_event_event_attendances_path(@event, :audience => "Participant"), :class => 'sync button' unless @audience.to_s == "Participant" %>
	</p>
	
	<p><%= link_to "Back to event", event_path(@event), :class => "back button" %></p>
	
	<h3>Event Details</h3>
	<dl class="sidebar">
		<%= render :partial => "events/details", :object => @event %>
	</dl>
	
</div>