<h1>New Location</h1>

<% semantic_form_for @location do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<span class="separator">&mdash; or &mdash;</span>
	<%= link_to 'Cancel', locations_path %>

<% end %>
