<html xmlns:x="urn:schemas-microsoft-com:office:excel">
<head>
	<style type="text/css">
	<!--table
	td, th { 
		font: 11pt "Arial", "Helvetica";
		border: thin solid #dddddd;
		height: 18pt;
		vertical-align: middle;
	}
	thead th {
		background: #ccc;
	}
	.currency {
	  mso-number-format:"Currency";
	}
	.date {
	  mso-number-format:"Short Date";
	}
	-->
	</style>
</head>
<body>
	<table border=1>
	<%= yield %>
	</table>
</body>