<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<table border=0>
	<tr>
		<td class="content"><%= yield %></td>
	</tr>
	<tr>
		<td class="footer">Sent to you by DreamSIS.</td>
	</tr>
</table>

</body>
</html>